@CHARSET "UTF-8";
html {
	overflow-y: scroll;
}
* {
	box-sizing: border-box;
}

body {
	background: #ecf0f1;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
}

a {
	color: #2c3e50;
	text-decoration:none;
}

a:hover {
	color: #999999;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	box-sizing: border-box;
	float: left;
	height: 42px;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
	width: 25%;
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	background: rgba(0,0,0,0.1);
	list-style-type: none;
	transition: background 0.5s ease;
	cursor: pointer;
}

li:hover{
	background: transparent;
}

.selected {
	background: transparent;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: default;
	display: block;
}

.hide {
	display: none;
}

.element {
	background: rgba(0,0,0,0.1);
}

.content {
	display: none;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: default;
	text-align: center;
}

#profile {
	display: block;
}

#main {
	width: 640px;
	margin: 0 auto;
	margin-top: 50px;
}


#header {
	width: 100%;
}

#title {
	box-sizing: border-box;
	text-align: center;
	color: #2c3e50;
	font-family: "Times New Roman", serif;
	font-size: 48px;
	margin: 0;
}

#contents {
	box-sizing: border-box;
	width: 100%;
	clear: both;
}

table {
	width: 100%;
	color: #2c3e50;
	border-collapse: collapse;
	text-align: left;
}

.spec {
	margin-bottom: 1ex;
}
.spec th{
	background: #CCCCCC;
	text-align: center;
	border: 1px solid #2c3e50;
	width: 20%;
}

#comment {
	border-top: 3px double #2c3e50;
}

.spec td{
	border: 1px solid #2c3e50;
	padding-left: 1ex;
}

.name {
	text-align: center;
	font-size: 24px;
	padding: 0;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.1);
}

#profile_img {
	width: 30%;
	float: left;
}

#profile_spec {
	float: left;
	width: 70%;
}